.MenuMgtUser {
  float: right;
}

.ProfileActions {
  float: right;
}

.IconCasoureImage {
  font-size: 40px;
}

.DialogTitleClose {
  float: right !important;
  font-size: 15px !important;
  color: red !important;
}
