.ImageProductHomePage {
  width: 100%;
  height: 180px !important;
}

.OriginPrice {
  color: red !important;
  font-size: 15px;
}

.ProductItemHomePage {
  height: 350px !important;
  border: 1px solid rgb(190, 189, 189) !important;
}
